/* RESET & COMMON STYLES  */

*{
    font-family:'proxima_nova_rgregular';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

/* SECTION 1 - HEADER: NAV & IMAGE */

nav {
    background-color: #FFF;
    color: #1A1A1A;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
   
nav ul {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul a:active {
    text-decoration: none;
}
    
nav li {
    list-style-type: none;
    text-align: center;
    margin: 0px 10px;
}

nav img {
    height: 70%;
    margin: 0px 30px;
}

nav a {
    color: #1A1A1A;
}

header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    text-align: center;
}

header h1 {
    font-size: 2.7em;
    margin-bottom: 20px;
}

/* SECTION 1 - FEATURES */

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#features > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 65px;
}

#features > div > div {
    height: 25vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#features img {
    height: 80px;
    margin-bottom: 15px;
}

#features h2 {
    text-align: center;
    margin-top: 70px;
    text-decoration: underline solid #00B172;
    text-underline-offset: 8px;
    margin-bottom: 50px;
}

#features h3 {
    color: #00B172;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}

#features p {
    color: #777;
    margin: 0 75px;
}

/* SECTION 2 - Kanye */

#kanye {
    background-color: #00B172;
    color: #FFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px;
}

#kanye > img {
    position: absolute;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kanye-text {
    height: 75vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;
}

.kanye-text > h3 {
    font-size: 2.1em;
    text-decoration: underline solid white;
    text-underline-offset: 10px;
}

.kanye-text h4 {
    font-size: 1.5em;
}

.kanye-text p {
    width: 65%;
    letter-spacing: 0.3px;
    font-size: 1.2em;
}

.kanye-img img {
    height: 75vh;
}